

.bg{
    --background: #1a3352 !important; 
    --box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4) !important;
}

.theme-color
{
    color:#7ad0a4
}

ion-input{
    font-weight: bold;
}