<ion-header>
  <ion-toolbar>
    <ion-title>
      Geolocation Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-button (click)="getLoc()" expand="block">Get Location</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Location Info</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitue
      </ion-label>
      <ion-badge slot="end">{{lat}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        longitude
      </ion-label>
      <ion-badge slot="end">{{lng}}</ion-badge>
    </ion-item>
    </ion-list>
</ion-content>
